extends layout

block content
  .container
    .row
      .col-md-6.mx-auto
        h1= title
        form(id='vegetableForm', action="/resource/vegetable", method="POST")
          .form-group
            label.vegetableAttr(for='vegetable_type') Vegetable Type
            input#vegetable_type.form-control(type='text', name='vegetable_type')
          .form-group
            label.vegetableAttr(for='size') Vegetable Size
            input#size.form-control(type='text', name='size')
          .form-group
            label.vegetableAttr(for='price') Vegetable Cost
            input#cost.form-control(type='number', name='cost')
          button.btn.btn-primary(type="submit") Submit

        script.
          document.forms['vegetableForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
              method: 'POST',
              body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
              return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
              alert("Save succeeded");
              // TODO handle body
            }).catch((error) => {
              // TODO handle error
              alert("Save failed " + error );
            });
          });
